<div class="full-height">
  <div class="container-fluid pt-5">
    <!--Page heading-->
    <div class="row mt-5">
      <div class="col-md-12">
        <h1 class="h1-responsive">Products
          <small class="text-muted"> all you need</small>
        </h1>
      </div>
    </div>
    <hr>
    <div class="row mx-auto">
      <div class="col-12 col-md-4 col-lg-3 jumbotron mt-3 mb-auto">
          <div class="col-sm-6 col-lg-4 mb-2">
            <label for="">Category: </label>
            <select ng-model="search.type">
              <option value="">All</option>
              <option value="Jackets-Coats">Jackets and Coats</option>
              <option value="Hats-Caps">Hats and Caps</option>
              <option value="Gloves">Gloves</option>
              <option value="Bags">Bags</option>
            </select>
          </div>
          <div class="col-sm-6 col-lg-4 mb-2">
            <label for="">Brand: </label>
            <select ng-model="search.brand" ng-options="product.brand as product.brand group by product.type for product in products | unique:'brand'">
            </select>
          </div>
          <div class="col-sm-6 col-lg-4 mb-2">
            <label for="">Price: </label>
            <select ng-model="order">
              <option value="">Default</option>
              <option value="-price">Desc</option>
              <option value="+price">Asc</option>
            </select>
          </div>
          <div class="col-sm-6 col-lg-4">
            <button class="btn btn-sm btn-dark" ng-click="resetSearch()">Reset</button>
          </div>
        </div>
  
      <div class="row col-12 col-md-8 col-lg-9 mt-3 mx-auto">
        <div dir-paginate="product in products | filter:search | orderBy:order | itemsPerPage: pageSize" class="col-sm-6 col-lg-4 animated fadeIn mb-3">
          <a ui-sref="productDetails({productRef: product.ref})">
            <div class="card card-preview">
              <div class="view hm-zoom flex-center">
                <img class="img-fluid" ng-src="src/img/products/{{product.type}}/{{product.image}}.jpg" alt="Card image cap">
              </div>
              <div class="card-body">
                <h4 class="card-title">{{product.brand}}</h4>
                <p class="card-text">{{product.name}}</p>
              </div>
          </a>
          <div class="card-footer">
            {{product.price + '$'}}
            <a class="tooltip-trigger">
              <i class="fa fa-lg red-text-hover fa-shopping-cart"></i>
            </a>
          </div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <!--Pagination-->
    <nav class="row w-100 mt-auto flex-center animated fadeIn">
      <dir-pagination-controls></dir-pagination-controls>
    </nav>
  </div>