/* TEMPLATE STYLES */
html,
body,
.full-height {
  min-height: 100vh;
}
/* Navigation*/
.top-nav-collapse {
  background-color: #1C2331;
}

footer.page-footer {
  background-color: #1C2331;
  margin-top: -1px;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331;
  }
  #brandbag {
    display: none;
  }
}

.navbar .btn-group .dropdown-menu a:hover {
  color: #000 !important;
}

.navbar .btn-group .dropdown-menu a:active {
  color: #fff !important;
}

.view-bg {
  background: url("../img/landingbackground.jpeg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card img {
  height: 250px;
}

#logo-brand {
  height: 40px;
}

#brandbag {
  height: 250px;
}