/* TEMPLATE STYLES */

html,
body,
.full-height {
  min-height: 100vh;
}


/* Navigation*/

.top-nav-collapse {
  background-color: #1C2331;
}

footer.page-footer {
  background-color: #1C2331;
  margin-top: -1px;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331;
  }
  #brandbag {
    display: none;
  }
}

.navbar .btn-group .dropdown-menu a:hover {
  color: #000 !important;
}

.navbar .btn-group .dropdown-menu a:active {
  color: #fff !important;
}

.view-bg {
  background: url("../../src/img/landingbackground.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo-brand {
  height: 40px;
}

#brandbag {
  height: 300px;
}

.card img {
  height: 300px;
}

.card-preview img {
  height: 150px;
}

.card-preview img:hover {
  cursor: pointer;
}

.card-preview {
  text-align: center;
}

.red-text-hover {
  transition: all ease-in-out 0.3s;
}

.red-text-hover:hover {
  color: red;
}