<div class="full-height pb-5">
  <div class="container-fluid pt-5">
    <div class="row pt-5 white-text stylish-color">
      <div class="container">
        <div class="d-flex justify-content-start align-items-center pb-4">
          <h4 class="h4-responsive mr-2">{{product.type}} -</h4>
          <h4 class="h4-responsive">Product ref: {{product.ref}}</h4>
        </div>
      </div>
    </div>
    <div class="row animated fadeIn">
      <div class="col-md-6 pt-5">
        <div class="view waves-effect waves-light hm-zoom flex-center">
          <img class="img-fluid" ng-src="src/img/products/{{product.type}}/{{product.image}}.jpg" alt="Card image cap">
        </div>
      </div>
      <div class="col-md-6 pt-5">
        <h2 class="h2-responsive">{{product.brand}}</h2>
        <h3 class="h3-responsive">{{product.name}}</h3>
        <br>
        <h4 class="h4-responsive">Color: {{product.color}}</h4>
        <h4 class="h4-responsive">Size: {{product.size}}</h4>
        <h3 class="h3-responsive">{{'$' + product.price}}</h3>
        <p class="pt-5">{{product.message}}</p>
        <hr>
        <button class="btn btn-success" ng-click="addToCart()">Add to cart</button>
        <button class="btn btn-default" ng-click="goBack()">Go Back Shopping</button>
      </div>
    </div>
  </div>
</div>